.tabs {
  display: flex;
  align-items: center;
  gap: 38px;
}

.link {
  position: relative;
  display: inline-flex;
  min-height: 24px;
  align-items: center;
  padding-bottom: 4px;
  color: var(--black);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.25;
  cursor: pointer;
  transition: color var(--transition-fast);
}

.link::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: transparent;
  content: '';
  transition: background-color var(--transition-fast);
}

.link:hover,
.link:focus-visible {
  color: var(--light-brown);
}

.linkActive::after {
  background-color: currentColor;
}

@media screen and (min-width: 768px) {
  .link {
    font-size: 12px;
  }
}
