.recipeCard {
    width: 100%;
    border-radius: 16px;
    background-color: var(--light-beige);
    padding: 12px;

    display: flex;
    flex-direction: column;
}

.recipeImage {
    width: 100%;
    height: 230px;
    border-radius: 8px;
    margin-bottom: 16px;
    object-fit: cover;
    object-position: center;
}

.cardHeader {
    width: 100%;
    min-height: 58px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    gap: 8px;
}

.recipeTitle {
    font-weight: 700;
    font-size: 24px;
}

.timeBox {
    height: 28px;
    width: 53px;
    border-radius: 8px;
    padding: 2px 8px 2px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    background-color: var(--white);
}

.timeIcon {
    width: 24px;
    height: 24px;
}

.time{
    font-size: 12px;
    font-weight: 600;
}

.desBox {
    font-size: 16px;
}

.recipeDescription {
    font-size: 16px;
    margin-bottom: 8px;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    overflow: hidden;
}

.recipeCalories {
    margin-bottom: 16px;
}

.actions {
    display: flex;
    gap: 8px;
    margin-top: auto;
}

.detailsButton {
    width: 100%;
    height: 40px;
    background-color: inherit;
    border: 1px solid var(--black);
    border-radius: 8px;
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
    text-align: center;
    align-content: center;
    font-weight: 600;
    font-size: 16px;
    transition: background-color 0.3s;
}

.detailsButton:hover,
.favoriteButton:hover {
    background-color: #9b6c43;
    border-color: #9b6c43;
    color: #ffffff;
}

.detailsButton:active,
.favoriteButton:active {
    background-color: #9b6c43;
    border-color: #ffffff;
    color: #ffffff;
    box-shadow: 0px 0px 0px 6px #4e46b41f,
    0px 0px 0px 2px #ffffff;
}

.favoriteButton {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    background-color: inherit;
    border: 1px solid var(--black);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
}

.bookmarkIcon {
    width: 24px;
    height: 24px;
    display: block;
    color: currentColor;
}

.isDeleteHover {
    background-color: #c80000 !important;
    border-color: #c80000 !important;
    color: #ffffff !important;
}

.isActive {
    background-color: #9b6c43;
    border: none !important;
    color: #ffffff !important;
}

.isActive:hover {
    background-color: #b9916d;
}