.pageContent {
    min-height: calc(100vh - 271px);
    padding: 20px 16px;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .pageContent {
        padding-inline: 123px;
    }
}

@media (min-width: 1440px) {
    .pageContent {
        min-height: calc(100vh - 168px);
    }
}