.recipeCount{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 22px;
}
.list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    padding-bottom: 24px;

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 1440px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.loaderWrapper {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}


