.section {
    padding-top: 40px;
    padding-bottom: 60px;
}

.title {
    font-weight: 600;
    font-size: 32px;
    color: var(--black);
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
        font-size: 40px;
    }

}

.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

    align-items: stretch;
  padding: 0;
  margin: 0;
}

/* Tablet */
@media screen and (min-width: 768px) {
    .list {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Desktop */
@media screen and (min-width: 1440px) {
    .list {
        grid-template-columns: repeat(4, 1fr);
    }
}
