.profile {
  padding-top: 48px;
  padding-bottom: 64px;
}

.title {
  margin-bottom: 16px;
  color: var(--black);
  font-family: var(--font-family);
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
}

.pageContent {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .profile {
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .profile {
    padding-bottom: 96px;
  }

  .pageContent {
    margin-top: 16px;
  }
}
